<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Me</title>
</head>
<body>

  <h1>About Me</h1>

  <p>
    Hi, my name is Ding Jie. I am a student in Singapore and I am interested in
    cyber. I enjoy learning new things and solving problems
    step by step.
  </p>

  <p>
    I like working on projects that help me improve my skills, especially in
    programming and cybersecurity. I try my best to be responsible, organised,
    and to work well with others.
  </p>

</body>
</html>
