<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Huxley's Page</title>
    </head>
    <body>
        <h1>Welcome to my shitty page</h1>
        <ol>
            <li>Dothack so fun</li>
            <li>max gpa</li>
        </ol>
        max gpa 4.3
    </body>
</html>